body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    margin: 2em;
    background-image: url("img/earth.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

h1{
    font-style: italic;
}

.quiz{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 25vh;
    width: 50%;
}

ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}
  
li{
    padding: 20px;
}

#respostas{
    display: none;
}

button{
    border: 0;
    border-radius: 7px;
    background-color: #1577B7;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 23px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
}

button:hover{
    background-color: #10B1E2;
}

